@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grape+Nuts&family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,600;1,700&display=swap");
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0;
  vertical-align: top;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.findMovie {
  background: url("./images/bg.jpg") center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25vh;
}
.findMovie h1 {
  font-family: "Fredoka One", cursive;
  font-size: 4vw;
  margin: 0;
  padding-bottom: 7vh;
  font-weight: normal;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.438);
  color: white;
}
.findMovie > div {
  background-color: white;
  padding: 5px 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
}
.findMovie > div > div {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}
.findMovie input {
  font-size: 1.5vw;
  font-family: "Titillium Web", sans-serif;
  width: 75%;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: transparent;
}
.findMovie > div > div a {
  border: none;
  background-color: transparent;
  font-size: 1.5vw;
  color: #666;
}
.findMovie > div > div a i {
  line-height: 3;
}
.findMovie .more a {
  font-weight: bold;
  color: black;
}
.findMovie ul a {
  font-size: 1vw;
  color: #999;
}
.findMovie li {
  line-height: 2.5;
  font-size: 1.2vw;
}

.recentMovies, .RelatedMovies {
  padding: 5vh 0;
  background-color: #f8f8f8;
}
.recentMovies h2, .RelatedMovies h2 {
  font-size: 2.5vw;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  margin: 2vh 0 4vh;
}
.recentMovies h3, .RelatedMovies h3 {
  margin: 2vh 0 1.5vh;
  font-size: 1.1vw;
}
.recentMovies ul, .RelatedMovies ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.recentMovies li, .RelatedMovies li {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
}
.recentMovies li img, .RelatedMovies li img {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.recentMovies li p, .RelatedMovies li p {
  color: #666;
}

.searched {
  width: 85%;
  margin: 5vh auto;
  text-align: center;
}
.searched h1 {
  font-size: 2.5vw;
  line-height: 1;
}
.searched > div > a {
  font-size: 2.5vw;
  display: block;
  position: absolute;
  left: 5%;
  line-height: 1;
}
.searched li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
  padding: 6vh 0;
}
.searched li > div {
  width: 50%;
}
.searched li a {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
}
.searched img {
  display: block;
  width: 27%;
}
.searched h2 {
  font-size: 2vw;
  margin-bottom: 2vh;
}
.searched p {
  font-size: 1.2vw;
  margin-bottom: 4vh;
}

/*# sourceMappingURL=style.css.map */
